@import './fontawesome/css/all.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgb(204 204 204 / 50%);
  border-radius: 8px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}
